@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(135deg, #2b3d29, #3b4f3c, #4a624e, #5a735f, #6a856f);
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  
}

nav,footer,.bg1{
  background: linear-gradient(135deg, #cccdd2, #e5e4ea);
}




