@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(135deg, #4e6d53, #5a7b61, #6a8d6b, #7d9f7a, #8ba88b);
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  
}

nav,footer,.bg1{
  background: linear-gradient(135deg, #cccdd2, #e5e4ea);
}




